@font-face {
	font-family: 'SolaimanLipi';
	src: url('../fonts/SolaimanLipi.ttf') format('truetype');
}

body {
<<<<<<< HEAD
	font-family: 'SolaimanLipi', sans-serif;
}
=======
	font-family: 'SolaimanLipi', 'sans-serif';
}
>>>>>>> c1b155eebc281250e2ddfadfd2d2069e54c7c7b2
